version: 2
jobs:
  test&build:
    docker:
      - image: circleci/openjdk:8-jdk 
    
    working_directory: ~/skeleton
    
    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb
      
    steps:
      - checkout
      
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "build.gradle" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      
      - run: gradle dependencies
      
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "build.gradle" }}
          
      - run: gradle test
      
      - run: ./gradlew distTar
      
      - persist_to_workspace:
          root: /home/circleci
          paths:
            - skeleton
      
    
  deploy:
    docker:
      - image: felicianotech/docker-ci-aws
    
    working_directory: ~/skeleton
    
    steps: 
      - attach_workspace:
          at: /home/circleci
      
      - setup_remote_docker
      
      - run: docker login -u $DOCKER_USER -p $DOCKER_PASS
      
      - run: docker build -t iynere/cornell-test:v2 .
      
      - run: docker push iynere/cornell-test:v2
      
      - run: docker pull iynere/cornell-test:v2
      
      - run: echo 'done!'

workflows:
  version: 2
  test&build_deploy:
    jobs:
      - test&build # run their tests
      
      - deploy: # if tests pass, build image & push to ECS
          requires:
            - test 